html(lang="ru")
  head
    title Вспомнить все
    link(href='/style.css', rel='stylesheet')
  body
    .content
      case level
        when 0 
          p Уровень 0.
        when 1 
          p Уровень 1.
        when 2
          p Уровень 2.
      if !win
        form(method="post")
          input(name="answer" value=answer)
      if error
        p.error= error
