html(lang="ru")
  head
    title Вспомнить все
    link(href='/style.css', rel='stylesheet')
    link(href="/favicon.png", type="image/png", rel="icon")
    link(href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet")
    meta(name="yandex-verification", content="001ca7b1d4a0af70")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-128597341-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-128597341-1');
  
  body
    .content
      img.venzel(src="/v.png")
      case level
        when 0 
          include story1.pug
        when 1 
          include story2.pug
        when 2
          include story3.pug
        when 3
          include story4.pug
        when 4
          include story5.pug
        when 5
          include story6.pug
        when 6
          include story7.pug
        when 7
          include story8.pug
          img.venzel.venzel_flipped(src="/v.png")
      if !win
        if error
          p.error Неа
        form(method="post", action="/answer")
          input(name="answer" value=answer, required)
          input(type="submit" value="Так и было")
      if !win
        .hint * Возможно самостоятельно все вспомнить не удасться. Но ведь всегда можно спросить у друзей.
      
    script(src="/app.js", type="text/javascript")
