html(lang="ru")
  head
    title Вспомнить все
    link(href='/style.css', rel='stylesheet')
    link(href="/favicon.png", type="image/png", rel="icon")
    link(href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet")
    meta(name="yandex-verification", content="001ca7b1d4a0af70")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .content
      case level
        when 0 
          include story1.pug
        when 1 
          include story2.pug
        when 2
          include story3.pug
        when 3
          include story4.pug
        when 4
          include story5.pug
        when 5
          include story6.pug
    if !win
      form(method="post")
        input(name="answer" value=answer)
    if error
      p.error= error
