html(lang="ru")
  head
    title Вспомнить все
    link(href='/style.css', rel='stylesheet')
    meta(name="yandex-verification" content="001ca7b1d4a0af70")
  body
    .content
      case level
        when 0 
          include story1.pug
        when 1 
          include story2.pug
        when 2
          include story3.pug
      if !win
        form(method="post")
          input(name="answer" value=answer)
      if error
        p.error= error
