include story1.pug
p Камин вспыхнул, будто в него бросили баллон с кислородом. Во всей округе завыли собаки, а вороны сорвались со своих гнезд и громко каркая съебнули во всех направлениях. Алкоголь на полу загорелся синим огнем, и в самом центре этого пожара из под земли стала вырастать темная фигура.
p - Я смерть всего сущего! Я погибель рода людского! Я-ааа записывал стрим для инстаграма и кому в этот момент я так срочно понадобился?! - завыл Люцифер и сверлящим взглядом уставился на Рамса. Но все дружно ткнули пальцем на фиолетовую утку, разносящую искры от своего горящего оперения. 
p - Я проклинаю тебя чудовищное создание из будущего! - закричал Люцифер - прими мое отмщение - и метнул в него двухсотлитровый коктейль Молотова и Риббентропа сделанный из Молотова, Риббентропа и масляной тряпки. Но утка уже успела скрыться в портале, который образовался в полу.
p Что ни говори, но порталы которые ведут в будущее появляются в каком-нибудь полу не каждый день. Но нам чертовски повезло, потому что он появился (это раз), и что он появился в полу возле холодильника (это два). Короче говоря, все так и подумали и поспешили в портал, еще и потому что порталы, насколько нам известно, никого не ждут и закрываются внезапно.
p Люцифер отправился в будущее своим ходом.
p И вот мы в далеком будущем. Гироскутеры, джет-паки, квантовые компьютеры с квантовыми клавиатурами тут же нам начали втюхивать какие-то армяне. Утки и след простыл, коктейль видимо угодил в автостоянку, потому что там что-то полыхало и взрывалось. Все были очень рады и сильно впечатлены.
p Но только не Валерка. Валерка стоял и, приложив пальцы ко лбу, глубоко задумался. "Marvel или DC? Marvel или DC?" - мысленно повторял он. Долго размышлять не пришлось, подняв взор к небу ему все стало ясно. На пасмурном небе ярко и отчетливо сиял бэт-сигнал.
p Забравшись на догорающий перевернутый грузовик, Валерка радостно прокричал:
p - 
  span.blur Пвывс врвсивл лыовсл в ывоослвоивс