include story3.pug
p Аквамэн жутко расстроился, он схватил трезубец (откуда он взялся?) и ударил им об пол. 
p Судя по всему произошло что-то значительное, иначе быть не могло. Но что именно такого значительного произошло никто не понял или не помнит. И помимо того что оно произошло, Чубр исчез. Чубр пропал, как-будто и не было. Но мы были под впечатлением чего-то значительного, и не сразу заметили пропажу, а Аквамэн ушел через дверь.
p Теперь расстроились мы. Искали его повсюду. В туалете, за стойкой, еще раз хорошенько проверили в туалете. Никто не знал какая судьба постигла Чубра. Кроме Альфреда. Альфред всех успокоил и сказал:
p — Ваш друг не погиб. Он сейчас в лучшем мире откуда нет возврата, но он жив. Это, возможно, вам покажется противоречием, но это лишь потому, что всё не так как кажется.
p Мы решили, что мужик перебрал. Альфред увидел наш скепсис, махнул рукой и попросил идти за ним. Бар этот оказался не таким простым, насвистывая "7:40" он подошел к стене, где на свист уже реагировала скрытая панель и открывала потайную дверь. Все пошли за ним и оказались в большом просторном помещении под землей, где было что-то вроде музея. Всякой всячины расставлено было тут и там колоссальное количество. Кто-то всматривался в мумию Кракена, кто-то залип на парящих в воздухе светящихся кляксах из раствора криптонита и вазелина, Кохан увидел кубик Рубика и сразу двинулся к нему, чтобы пополнить свою коллекцию. Альфред попросил не трогать куб, объяснив, что штука весьма опасна, и что она из другой вселенной.
p — Лучше посмотрите на это — Альфред указал на постройку дико похожую на деревянный туалет, который обычно на улице. Но этот был здоровый и у него была огромная дверь. Не дверь, а прямо ворота. И открыв ворота, все убедились окончательно - это туалет. Все начали звать Чубра.
p — Нет-нет. Тут его нет, но тут есть кое-что другое.
p Внутри было как в сортире. Отверстие в полу приковывало взгляд непроницаемой чернотой. На полу валялся смятый постер какого-то Флэша. Его коричневую эмблему молнию не смог распознать даже Валерка.
p — Эта штука - что-то вроде тардиса — начал Альфред — на нем к нам прилетел какой-то здоровый, судя по всему, хер, я не знаю кто это. На этой штуке вы можете отправиться к вашему другу, и наконец избавите меня от этого дерьма в моем чудном музее. Не знаю, может кто-нибудь заметил, я точно заметил, что ваш друг не разложился на протоны, или там на парниковые газы.
p Потыкав в какое-то своё устройство у себя на запястье, Альфред повернулся и указал на стену. На стене появилась запись с камеры в баре в тот момент, когда Аквамэн сильно расстроился. Все увидели Чубра с застывшей гримасой самодовольства и под ним не было пола. В полу образовалась дыра, почти такая-же как та у холодильника. И в дыре этой виднелся небритый черно-белый мужик в шляпе.
p — Наш Русалдо отправил его в мир черно-белых вестернов — резюмировал Альфред — или мир просто вестернов, или мир американских вестернов 46-го года, хуй знает. Короче вот вам портрет Чарли Бронсона, другого у меня сейчас нет, вам нужно подтереться им и вы попадете куда нужно. Скорее всего. Или нет. Если попадете не туда - подотритесь Клинтом Иствудом, я не знаю.
p Дверь закрылась. Кохан попросил всех отвернуться, снял штаны и провел Чарли Бронсоном между ягодиц.
p И все получилось! Только все мы были теперь ни в этом гипер-сральнике, а в вагоне. Кохан глянул в окно с занавесками, что-то там посчитал, прислушался к свистку и сказал:
p — Джон Булл, британский локомотив 2-1-0, 1831 год.
p Это был образец потрясной эрудиции. Даже Казаца был впечатлён. Еще больше он был впечатлён, когда в вагон вбежал черно-белый Белый с винчестером, открыл окно и начал палить по бизонам. Увидев нас, он подошел и сказал:
p — Привет, Виолетта, как ты тут оказалась?
p — Ух ты, Виолетта, привет — не все из нас были с ней знакомы — мы и не знали, что ты Виолетта.
p — А это что за банда головорезов вокруг тебя? — Чубр вскинул ружье.
p Он не узнал никого кроме Виолетты, это было прискорбно. Начались расспросы, Белый не отвечал и, отойдя на пару шагов, угрожал каждому, кто к нему пытался подойти. Тут в вагон вбежала Люся.
p — 
  span.blur Овд дшсжрвсжфсрщфзсор ысфсыф ы ысфщыфрпщс ыфысрфы 
  span — сказала она, еле слышно.
