include story2.pug
p Но не успел ещё никто задаться вопросом в какой морской пучине его искать, мы услышали голос из темноты.
p — Так-так, кажется я вовремя.
p — Кто там сверкает глазами в темноте такой двухметровый? — спросил Кохан.
p — Я явился сюда чтобы предотвратить гибель нашего мира, виной которой будете вы, как ни странно.
p — Что это за хмырь?! — спросила вежливо Люся.
p — Я! Звезда сериала "Супердрузья. Легендарное шоу суперсил" 84-го года, главный антагонист в мультфильме "Лего. Лига Справедливости", ужасный лорд апокалипсиса...
p — Это уже где-то было — перебила его Люся, выхватила из рук Кохана какой-то чемодан и с ультразвуковым ревом напрыгнула на громилу и начала дубасить его перфоратором по голове. Мы аж растерялись. Громила немного начал терять терпение.
p — Что у тебя в руках? — спросил он
p — Я не знаю, дрель?
p — Ты даже не включишь её в розетку?
p Тут Люся осознала насколько не выигрышно её положение, еще и потому, что мы все смотрели и ждали чем это закончится, а не вгрызлись в его броню как свирепые волколаки, как она ожидала. А мы уже почти смеялись как вдруг громила схватил её и был уже готов нанести ей тяжкие увечья. Но Нестер успел достать из рюкзака геймпад, нажать на паузу и выбрать другого персонажа. Вместо Дарксайда появился Аквамэн со своим бухлом. Все отправились в ближайший бар.
p В баре было весело. Все шутили про Бэтмена, Альфред хохотал громче всех. И всё было бы хорошо, если бы Чубр не спросил у Аквамэна, сколько у Леонида было спартанцев.
p — Я знаю, я знаю! — воодушевленно воскликнул Аквамэн, и многие тут же смекнули, что то что сейчас произойдет непременно нужно остановить. На Чубра набросились все кто был рядом, повалили его на пол, кто-то сел на него и заткнул ему рот ладонью, остальные просто попрыгали на него сверху, умоляя не делать глупостей. Но чему быть того не миновать! Аквамэн пьяным голосом громко и отчетливо произнес
p — Триста!
p У Чубра расширились зрачки, дыхание участилось, вены на лице взбухли. Видно было что он старается преодолеть себя. Но ничего не вышло, одним движением отшвырнув нас в сторону он прокричал:
p — 
  span.blur Щсжтвлс д вдылстылвдсф