p Эта история случилась на самом деле, хотя многие из тех с кем она произошла это отрицают и этому есть несколько объяснений. Самое очевидное объяснение: все были пьяные. Хотя из того факта, что эту историю можно прочитать, следует, что не все.
p Начиналось все вполне традиционно. Гости собрались в загородном (ну почти) доме, чтобы отпраздновать день рождения Кохана. Музыка играет, шарики надуты, гости веселятся и подбухивают. Ничего не предвещало беды.
p Вдруг земля затряслась! Со столов и подоконников начали падать бутылки и стаканы, за окном что-то засверкало и тут же в доме погас свет. Распахнулась дверь и в дом забежал Нестер весь запыхавшийся и вспотевший.
p — Оно приближается — прохрипел он, — я перекусил провода, всем тихо! Может нам повезет и оно нас не заметит. Между тем шум тяжёлой поступи какого-то жуткого существа усиливался, на каждый шаг на полу подскакивали и звенели бутылки. 
p — О, нет! — вдруг вскочил Санёк — я оставил на улице кальян. Санёк выбежал во двор, никто не успел ничего даже сказать. Но тут же вернулся с жутким криком:
p — Оно здесь!
p В чем можно было убедиться практически тут же. Мгновенно крышу унесло, словно ураганом, и прямо в толпу впрыгнула огромная фиолетовая утка размером с огород.
p — Аааа! — закричали все.
p — Почему ты фиолетовая?! — закричал Нестер.
p Но утка, разумеется, и не думала отвечать, она начала бегать по остаткам дома своими жуткими утиными лапами и жестоким образом крякать:
p — Крооо! — крякала утка — кто из вас Крооо?!
p Кохан, видя всю бедственность положения, решительно выступил вперед, чтобы сообщить ей, и тем самым спасти остатки праздника, но как оказалось Шабанова нашла более удачный выход из положения. Она взбежала на стену, 
  span.blur сыфлоис овсылосылвос о ывлсоыл с всыосл