include story6.pug
p — Ника, не делай этого? — крикнул Кохан.
p — Извини, но мне очень хочется. Ничего не могу с собой поделать.
p Правду говорят, видеоигры сводят людей с ума. Все услышали знакомый голос, который сообщал нам что бомба установлена. С бомбплэйса "A", к нам выбежал Илья и тихо сказал:
p — Сюда идут боты, у них стволы и бронежилеты, съёбывайте. Я думаю, будут кемперить, так что вам ничего не угрожает.
p Но Илья ошибся, один всё-таки спрыгнул на ящик у стены и начал стрелять из глока. Мы, понятно, бросились в рассыпную. Тут к боту подбежала Ника, сдернула с его пояса гранату и засунула ему в капюшон. 
p — Бегите, они все идут сюда! — прокричала она.
p Голова бота взорвалась. Ника схватила глок и застрелила оставшихся. Санёк, тем временем, под шумок обезвредил бомбу. Раунд закончился, все снова вернулись на свои места.
p — Как тут покупать оружие? — спросил Валерка.
p — Узнаешь, нам расскажи — ответил Санёк.
p Все начали придумывать как вызвать диалог магазина, только Кохан обеспокоенно подпрыгивал на месте, и как только пятисекундный фризтайм вышел, рванул в сторону террористов.
p — Илья! — крикнул он через всю улицу.
p — Что!
p — Ника с тобой?
p — Я не вижу, погоди — он стал бегать от бота к боту и снимать с них маски.
p — Нет, её нет, похоже её всё-таки кикнули с сервака!
p Кохан впал в отчаяние. Было совершенно непонятно, где она сейчас и как её вернуть. Со стены к Кохану спрыгнул бот и уже готов был прострелить его, но Артём, воткнув в него нож, выхватил АК и двинулся в сторону Казацы.
p — Это ты виноват. Мы тут из-за тебя — начал он — могли быть сейчас дома и не бегать от сраных ботов!
p Да, Казаца был виноват и он это не отрицал и не спорил, только сказал:
p — Если ты меня застрелишь, то тебя тоже выкинет с сервера.
p — Ну и хорошо, надеюсь только, что попаду туда же, где сейчас Ника.
p Кохан уже вскинул автомат, но тут же взрывная волна свалила всех с ног. Прямо на площадь на подходе к "B" упало что-то вроде метеорита. Образовалась нехилая воронка. Со дна воронки стали доносится кряхтения и потом мы услышали:
p — Я смерть всего сущего! Я... Бля, зачем я всё время это говорю?
p — Да и слово "сущего" не придает статусности, получается, ты какой-то анти-уролог что-ли — сказала Ника.
p Кохан побежал к краю воронки, со дна её к нам поднимался Люцифер. Опять он! В здоровых лапах своих он держал Нику и обсуждал с ней сущих.
p — Ника, ты жива! — обрадовался Кохан — отпусти её, уебан!
p Сатана поднялся к нам.
p — Наконец, я вас нашел. Ты — Люцифер ткнул пальцем в сторону Кохана — отдай мне кубик, тогда никто не будет страдать... какое-то время.
p — 
  span.blur Ое иарлуа
  span  — подумал про себя Кохан.
