include story5.pug
p Глухой Джим грохнулся головой в песок и сломал себе все пальцы на руках. Он закричал от боли, встал, хотел показать неприличный жест, но еще больше закричал от боли и пошёл в родной город пешком оформлять инвалидность. Из будки машиниста вышел цветной Чубр, отклеил усы, и очень обрадовался. Вагоны, которые еще двигались по инерции, наехали на бочку с красными буквами, бочка сдетонировала, всё благополучно взлетело на воздух и упало на дно каньона. Белый закричал "Я Горец!", поднял руки к небу и готов был принимать удары молний и слушать Queen. Но ничего такого не произошло, что и понятно, мы же в вестерне. Но зато Белый полностью пришёл в себя и всех узнал.
p — Как здорово вас всех снова видеть — начал он — я даже на секунду забыл в какой непроглядной жопе все мы оказались.
p Но мы, конечно, с ним были не согласны. Белому, понятно, все это уже остопиздило, а мы даже не все ещё постреляли хотя бы в индейцев. Так что Белый остался непонят.
p — Там впереди кто-то лежит на рельсах — крикнула вдруг Ника.
p Все начали всматриваться вдаль, а Кохан побежал вниз тормозить поезд. Белый всех начал уверять, что останавливаться глупо. Совсем скоро выяснилось, что на рельсах связанная женщина без сознания. Или она спит. Белый уже всерьез был против остановки и требовал поддать жару и переехать женщину. Сейчас нам понятно, что в словах Белого был смысл. Но в тот момент его никто не послушал, поезд остановился, и вот мы уже подходим к рельсам, на которых лежит нарисованный парень, переодетый в женщину. Тут же откуда ни возьмись появляется нарисованный дед в белом халате, и наставив на нас свой карманный плазмоган сообщает нам, что поезд наш конфискуется в пользу научного сообщества какой-то планеты. Пока он развязывал Морти, тот все вопил о жестокости и несправедливости, хотя помадка приятная.
p Вдруг раздался выстрел. Все испугались, а Рик упал на землю с истошными криками. Это Кохан выстрелил ему в ногу из мушкета.
p — Зачем вам поезд, мудаки нарисованные?
p — Не отвечай ему — брыкался связанный Морти.
p — Мой транспорт сломался, нужен другой - бормотал Рик, подползая к плазмогану и размазывая нарисованную кровь по песку.
p Кохан поднял плазмоган, обшарил карманы его халата. Там была моделька DMC-12 из оригинального сериала, похоже с её помощью они и хотели убраться отсюда. Бросив её Рику, Кохан спросил:
p — Как нам отправиться домой?
p Рик что-то там покрутил и понажимал, машинка завибрировала, из выхлопной трубы пошел дымок.
p — Вот, осталось сесть с этим в поезд и разогнать его до ста миль в час.
p — Едем — сказал нам Кохан. Рик и Морти поползли в сторону поезда.
p — Не-не, вы остаётесь — остановил их Кохан.
p — Что? — удивились мы — ебать, ты жестокий! Они же клёвые парни, они не заслужили такого.
p — Вы не сможете разогнать эту дровину без меня — закричал Рик.
p Кохан снисходительно глянул на него, а нам объяснил, что парни, вне всяких сомнений, клёвые, но брать их с собой нельзя и перечислил причины. Там их было много и все они были одна убедительней другой и основывались на сюжете сериала. Да и вообще, Рик, которого мы знаем, не попал бы в такую жопу, а если бы и попал, то давно нашинковал бы нас своим лазером в наручных часах или превратил бы наши аппендиксы в аэростаты с помощью армии наноботов из собственных какашек, а это какие-то лохи из цитадели.
p — Сами вы лохи! Цитадель давно разрушена! Вы ничего не понимаете! Вы не сможете попасть домой без нас! — пищал Морти.
p — Да хуй с ними — завопил в конце концов Белый — давайте съёбывать отсюда! 
p И его можно было понять. Все залезли в паровоз, мы накидали полную топку угля, Кохан отцепил оставшиеся вагоны, открутил какие-то вентили и пальнул из плазмогана в печь. Языки пламени вырвались из трубы и поезд, высекая искры, с диким ускорением рванул вперёд. Пока поезд набирал скорость, Казаца взял модельку DMC, чтобы "просто посмотреть".
p — Похоже, он нас всё-таки наебал. — сказал он — Вот эти цифры похожи на дату и если так, то тут она какая-то неправильная. Вот, я поставил верную.
p — Ты что?! — закричали все — верни как было!
p Но он не успел, поезд набрал нужную скорость и вот мы уже стоим под каким-то мостом. И по мере того как глаза привыкали к темноте становилось все более очевидно, что мы нихера не дома, а в каком то старом городе посреди марокканской пустыни.
p — Я не могу пошевелиться — сказала Шабанова.
p — Неправда, ты можешь крутиться и прыгать на месте — сказал Санёк.
p — И правда, но все равно как-то некомфортно, и какое-то странное желание схватить нож и бежать. Ого, у меня есть нож.
p Вскоре всех отпустило и мы смогли нормально двигаться. 
p — Что происходит? Где мы? — занервничала Шабанова.
p Многие уже осознали, что мы на dust 2 на стороне контров. Даже немного обрадовались, но не настолько, что бы не попробовать проткнуть виновника ножом и за одно проверить фрэндли-фаер. Казаца, получая ранения, бегал по кругу и разбрасывал клюкву.
p — Прекратите, это неприятно! — кричал он.
p — 
  span Чуваки, 
  span.blur лфлор ылвоар вырао 
  span — послышался голос Ильи откуда-то сверху.