include story6.pug
p — Ника, не делай этого? — крикнул Кохан.
p — Извини, но мне очень хочется. Ничего не могу с собой поделать.
p Правду говорят, видеоигры сводят людей с ума. Все услышали знакомый голос, который сообщал нам что бомба установлена. С бомбплэйса "A", к нам выбежал Илья и тихо сказал:
p — Сюда идут боты, у них стволы и бронежилеты, съёбывайте. Я думаю, будут кемперить на "A", так что вам ничего не угрожает.
p Но Илья ошибся, один всё-таки спрыгнул на ящик у стены и начал стрелять из глока. Мы, понятно, бросились в рассыпную. Тут к боту подбежала Ника, сдернула с его пояса гранату и засунула ему в капюшон. 
p — Бегите, они все идут сюда! — прокричала она.
p Голова бота взорвалась. Ника схватила глок и застрелила оставшихся. Санёк, тем временем, под шумок обезвредил бомбу. Раунд закончился, все снова вернулись на свои места.
p — Как тут покупать оружие? — спросил Валерка.
p — Узнаешь, нам расскажи — ответил Санек.
p Все начали придумывать как вызвать диалог магазина, только Кохан обеспокоенно подпрыгивал на месте, и как только пятисекундный фризтайм вышел, рванул в сторону террористов.
p — Илья! — крикнул он через всю улицу.
p — Что!
p — Ника с тобой?
p — Я не вижу, погоди — он стал бегать от бота к боту и снимать с них маски.
p — Нет, её нет, похоже её всё-таки кикнули с сервака!
p Кохан впал в отчаяние. Было совершенно непонятно, где она сейчас и как её вернуть. Со стены к Кохану спрыгнул бот и уже готов был прострелить его, но Кохан, воткнув в него нож, выхватил АК и двинулся в сторону Казацы.
p — Это ты виноват. Мы тут из-за тебя — начал он — могли быть сейчас дома и не бегать от сраных ботов по всей карте!
p Да, Казаца был виноват и он это не отрицал и не спорил, только сказал:
p — Если ты меня застрелишь, то тебя тоже выкинет с сервера.
p — Ну и хорошо, надеюсь только, что попаду туда же, где сейчас Ника.
p Кохан уже вскинул автомат, но тут же взрывная волна свалила всех с ног. Прямо на площадь на подходе к "B" упало что-то вроде метеорита. Образовалась нехилая воронка. Со дна воронки стали доносится кряхтения и потом мы услышали:
p — Я смерть всего сущего! Я... Бля зачем я все время это говорю?
p — Да и слово "сущего" не придает статусности — сказала Ника.
p Кохан побежал к краю воронки, со дна ее к нам поднимался Люцифер. Опять он! В здоровых лапах своих он держал Нику и обсуждал с ней сущих.
p — Ника, ты жива! — обрадовался Кохан — отпусти её, уебан!
p Сатана поднялся к нам.
p — Наконец, я вас нашел. Ты — Люцифер ткнул пальцем в сторону Кохана — отдай мне кубик, тогда никто не будет страдать.
p Да, дерьмо случается. Кто знает, что могло бы произойти, не будь Артём Кохан Артёмом Коханом. А он оказался не так прост. Хотя кто полагал, что Кохан прост непонятно. Но если такие и были, то они сильно ошибались. Тогда в музее Артём Кохан проявил всё своё благоразумие и всё-таки спиздил кубик. Только нужен ли ему ещё один кубик Рубика? Абсолютно верно, не нужен. А вот кубик Земекиса не помешает никому.
p То что вещь стоящая Кохан понял практически сразу. Ещё в музее он повернул синюю грань и не сразу понял что произошло. Всё замерло, все встали как статуи, которых в музее было и так полно. Часов там нигде не было, а так сразу можно было бы понять, что само время остановилось. С этого начал свое объяснение странный мужик, который появился прямо перед ним. Странный мужик рассказал про кубик и объяснил как им пользоваться.
p И Артем им периодически пользовался. К примеру, в тот момент, когда Ника увидела человека на путях, Кохан остановил время, спустился, сбегал вперёд, увидел, что это переодетый в женщину Морти, нашёл где прячется Рик, убедился что дело нечистое, вернулся в поезд, зарядил мушкет, а дальше все мы помним, что случилось.
p И вот сам Люцифер держит в своих лапах Нику и готов послать на нас все десять казней Египта или что там у него есть. Можно, конечно, отдать ему кубик и надеяться, что Сатана оставит нас в покое. Но всем известно, что сделки с Сатаной выглядят иначе и вообще не несут ничего хорошего.
p Поэтому Кохан начал быстро собирать синюю грань.
p Люцифер, увидев, это вспыхнул огнем и был готов изрыгнуть адский пламень в его сторону, но отрисовка большого количества спрайтов огня и дыма сильно его замедлила. Так что Кохан успел.
p Всё замерло, облака, люди, боты, языки пламени. А, нет, облака итак не двигались. В общем всё движение остановилось. Кохан пошел в сторону Ники, и оказалось что не всё. Налитые кровью глаза Люцифера следили за ним. Кохан, сходил влево, затем вправо - глаза поворачивались за ним вслед. Это было как-то неправильно. Потом он услышал голос.
p — Что бы ты не задумал, я все равно его заберу — произнес Люцифер, хотя он совсем не двигался.
p Кохан не стал обращать на это внимание. Оставался всего один выход из сложившейся ситуации и Кохан его знал, потому что странный мужик ему рассказал как пользоваться кубиком. А мы вообще ничего не знали. Он сел на ящик и стал крутить грани.
p — А, да, что это за фиолетовая утка? — спросил он у Люцифера.
p — Я думал, ты знаешь. Она, кстати, не фиолетовая, а ультрафиолетовая. И она оказалась не из будущего, я замучился её там искать. Но я её все-таки нашел. Она мне рассказала, что произошло в том доме, и я ходил за вами буквально по пятам. Но вы постоянно ускользали от меня. 
p - И все из-за инстаграма? Ну ты и злопамятный.
p - Ничего не поделаешь, профессиональная деформация. Кстати помнить мне нужно дохера чего. К примеру, я должен знать всех кто прибывает ко мне. К примеру вот она — Сатана глазами указал на неподвижную Нику, зажатую в неподвижной мохнатой лапе — ты не знаешь, конечно, есть отдельное место в аду, куда прибывают все, кого выпнули с игрового сервера. Я, разыскивая вас по всем возможным мирам, и представить не мог, что мне так повезёт.
p Кохан собрал кубик, встал и пошел что-то искать.
p — Эй, ты куда?
p Кохан ходил от одного бота к другому, а Люцифер продолжал рассказывать, как ходил за нами по пятам и везде сеял хаос и разрушение. Наконец Кохан нашел бомбу, подошел к Люциферу залез ему на голову, взявшись за рога и уперевшись ногой в нижнюю челюсть раскрыл ему пасть, запихнул туда кубик, поставил на бомбе таймер на 3 секунды и впихнул туда же.
p — Что ты творишь?! — вопил Люцифер, бешено вращая глазами.
p А Кохан ногой затолкал все это поглубже, спустился, ножом отфигачил ему все пальцы на правой лапе и освободил Нику. Люцифер вопил и матерился на арабском.
p — Хотел кубик? Он твой — сказал Кохан.
p — Я это запомню — кричал Сатана — я подготовлю в аду специальное место исключительно для тебя! У тебя будет свой персональный котёл, и на нём я нацарапаю "два четыре три"!
p И он успел придумать еще немного страшных угроз, но внезапно вернулся нормальный ход времени. Всё снова пришло в движение, Кохан бежал с Никой на руках и кричал всем уносить ноги. Мы ничего не поняли и времени, чтобы хоть что-нибудь понять было всего три секунды. Никто не успел.
p Эти три секунды прошли и всё. Что было дальше невозможно понять. Мы все оказались в том самом загородном (ну почти) доме. Крыша была на месте, шарики надуты, музыка играет. Выяснилось в итоге, что кубик не планировал взрываться в глотке Сатаны и поэтому отправил нас всех обратно во времени. И себя тоже, он был почему-то в руках у Кохана.
p Пришел Нестер, спокойно зашел, всех поприветствовал. Фиолетовая утка не пришла (ну то есть ультрафиолетовая), но Нестер почему-то рюкзак свой не снимал всю ночь. Кохан попробовал покрутить кубик, ничего не произошло, но всё-таки потом от греха подальше он спрятал его в гараже.
p Все набухались и эта история почти стерлась из нашей памяти.
.blur