body{
  color: #443c3c;
  font-family: 'Marmelad', sans-serif;
}

.venzel{
  margin: 0 auto;
  display: block;
  width: 300px;
}

.venzel_flipped {
  transform: scale(-1);
}

.content {
  max-width: 500px;
  margin: auto;
  font-size: 18px;
  text-align: justify;
}

.content p {
  text-indent: 15px;
}

form {
  padding-top: 10px;
  padding-bottom: 40px;
  margin: auto;
}

input {
  padding: 5px;
  width: 100%;
}

input[type=submit]{
  padding: 5px;
  margin-top: 10px;
}

.error {
  text-align: center;
  color: #cc5800;
  text-indent: 0 !important;
}

.blur {
  filter: blur(4px);
}

.hint {
  color: gray;
  font-size: 70%;
}