body{
  color: #443c3c;
}
.content {
  font-family: 'Marmelad', sans-serif;
  max-width: 500px;
  margin: auto;
  font-size: 18px;
  text-align: justify;
}

.content p {
  text-indent: 15px;
}

form {
  padding-top: 10px;
  padding-bottom: 40px;
  width: 24rem;
  margin: auto;  
}
input {
  padding: 5px;
  margin: 10px;
  width: 90%;
}

.error {
  text-align: center;
}
.blur {
  filter: blur(4px);
}
